<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=1b44e1d426115821" />
    <section name="ConnectionManagerDataSection" type="DashboardEngine2._0.AuxClasses.ConnectionManagerDataSection, DashboardEngine2.0" />

  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level [%thread] %logger{1} - %message%newline" />
      </layout>
      <mapping>
        <level value="INFO" />
        <foreColor value="White" />
      </mapping>
      <mapping>
        <level value="DEBUG" />
        <foreColor value="Green, HighIntensity" />
      </mapping>
      <mapping>
        <level value="WARN" />
        <foreColor value="Yellow, HighIntensity" />
      </mapping>
      <mapping>
        <level value="ERROR" />
        <foreColor value="Red, HighIntensity" />
      </mapping>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO" />
        <levelMax value="FATAL" />
      </filter>
    </appender>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="./logs/log.log" />
      <rollingStyle value="Date" />
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <datePattern value="yyyyMMdd" />

      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %logger{1} - %message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="OFF"/>
        <param name="LevelMax" value="OFF"/>
      </filter>
    </appender>
    <root>
      <level value="INFO" />
      <appender-ref ref="ConsoleAppender" />
      <appender-ref ref="RollingFile" />
    </root>
  </log4net>
  <appSettings>
    <add key="server" value="http://servti:"/>
    <add key="cacheURl" value="http://servti:8099/api/cache/"/>
    <add key="errorColor" value="#ff00ff"/>
    <add key="dashBoards" value="http://servti:8044/api/dashboard/"/>
    <add key="thingsURL" value="http://servti:8032/api/things/"/>
    <add key="displayURL" value="http://servti:8037/api/displays"/>
    <add key="LastAccessURL" value="http://servti:8099/api/GetLastAccess"/>
    <add key="statesBatchAddress" value="8019/api/StatesBatch"/>
    <add key="statesOnMessages" value="EM_MANUAL,EM_ALARME"/>
    <add key="retryAPI" value="1000"/>
    <add key="DashCacheRefreshRateSec" value="600"/>
    <add key="timoutAPI" value="1000"/>
    <add key="timeoutMesssages" value="1000"/>
    <add key="MaxTimeCacheMin" value="1"/>
    <add key="timeoutGrid" value="1000"/>
    <add key="TotalDelay" value="1000"/>
    <add key="slowExecution" value="false"/>
    <add key="PararellProcessDashboard" value="true"/>
    <add key="PararellProcessTiles" value="true"/>
    <add key="PararellProcessGrid" value="false"/>
  </appSettings>

<ConnectionManagerDataSection>
        <ConnectionManagerEndpoints>
            <add messageUrl="http://servti:8051/api/Alerts?thingId=208&amp;goalId=89&amp;descMetric=acumulado_dia_production_teste" messagePath="message" dashboardId="218" />     
        </ConnectionManagerEndpoints>
    </ConnectionManagerDataSection>
</configuration>
